In [31]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import plotly.plotly as py
import plotly.graph_objs as go
import datetime

sns.set(style="whitegrid", palette="muted")

In [32]:
# Load the dataset
df = pd.read_csv("final_dataset.csv")

In [33]:
df.head(5)

,Date,HomeTeam,AwayTeam,Day_Eve,Day Type,Hol Type,Capacity,Average Travelling Fans,Cheapest Season T,Home League Position,Away League Position,Form Home,Form Away,Distance,Temperature,Lowest Home Ticket Price,Lowest Away Ticket Price,Attendance,Highest Home Ticket Price
0,05/08/2016,Fulham,Newcastle,E,1,0,25700,3140,254.0,0,0,0,0,249.0,20.2,25.0,24.0,23922,45.0
1,06/08/2016,Birmingham,Cardiff,D,0,0,30016,775,230.0,0,0,0,0,89.0,18.8,15.0,22.0,19833,40.0
2,06/08/2016,Blackburn,Norwich City,D,0,0,31367,1661,279.0,0,0,0,0,175.0,17.9,18.0,20.0,12641,35.0
3,06/08/2016,Bristol City,Wigan Athletic,D,0,0,21497,1284,299.0,0,0,0,0,145.0,19.1,25.0,20.0,17635,41.0
4,06/08/2016,Derby,Brighton & Hove Albion,D,0,0,33597,1611,319.0,0,0,0,0,154.0,19.3,17.6,25.0,28749,33.0

In [34]:
df.dtypes

Date                          object
HomeTeam                      object
AwayTeam                      object
Day_Eve                       object
Day Type                       int64
Hol Type                       int64
Capacity                       int64
Average Travelling Fans        int64
Cheapest Season T            float64
Home League Position           int64
Away League Position           int64
Form Home                      int64
Form Away                      int64
Distance                     float64
Temperature                  float64
Lowest Home Ticket Price     float64
Lowest Away Ticket Price     float64
Attendance                     int64
Highest Home Ticket Price    float64
dtype: object

In [35]:
df['match_month']=''

In [36]:
df['Date'] = pd.to_datetime(df['Date'],format="%d/%m/%Y")
df.head(5)

,Date,HomeTeam,AwayTeam,Day_Eve,Day Type,Hol Type,Capacity,Average Travelling Fans,Cheapest Season T,Home League Position,Away League Position,Form Home,Form Away,Distance,Temperature,Lowest Home Ticket Price,Lowest Away Ticket Price,Attendance,Highest Home Ticket Price,match_month
0,2016-08-05,Fulham,Newcastle,E,1,0,25700,3140,254.0,0,0,0,0,249.0,20.2,25.0,24.0,23922,45.0,
1,2016-08-06,Birmingham,Cardiff,D,0,0,30016,775,230.0,0,0,0,0,89.0,18.8,15.0,22.0,19833,40.0,
2,2016-08-06,Blackburn,Norwich City,D,0,0,31367,1661,279.0,0,0,0,0,175.0,17.9,18.0,20.0,12641,35.0,
3,2016-08-06,Bristol City,Wigan Athletic,D,0,0,21497,1284,299.0,0,0,0,0,145.0,19.1,25.0,20.0,17635,41.0,
4,2016-08-06,Derby,Brighton & Hove Albion,D,0,0,33597,1611,319.0,0,0,0,0,154.0,19.3,17.6,25.0,28749,33.0,

In [37]:
df['match_month']=df['Date'].dt.month

In [38]:
df.dtypes

Date                         datetime64[ns]
HomeTeam                             object
AwayTeam                             object
Day_Eve                              object
Day Type                              int64
Hol Type                              int64
Capacity                              int64
Average Travelling Fans               int64
Cheapest Season T                   float64
Home League Position                  int64
Away League Position                  int64
Form Home                             int64
Form Away                             int64
Distance                            float64
Temperature                         float64
Lowest Home Ticket Price            float64
Lowest Away Ticket Price            float64
Attendance                            int64
Highest Home Ticket Price           float64
match_month                           int64
dtype: object

In [39]:
df.head(5)

,Date,HomeTeam,AwayTeam,Day_Eve,Day Type,Hol Type,Capacity,Average Travelling Fans,Cheapest Season T,Home League Position,Away League Position,Form Home,Form Away,Distance,Temperature,Lowest Home Ticket Price,Lowest Away Ticket Price,Attendance,Highest Home Ticket Price,match_month
0,2016-08-05,Fulham,Newcastle,E,1,0,25700,3140,254.0,0,0,0,0,249.0,20.2,25.0,24.0,23922,45.0,8
1,2016-08-06,Birmingham,Cardiff,D,0,0,30016,775,230.0,0,0,0,0,89.0,18.8,15.0,22.0,19833,40.0,8
2,2016-08-06,Blackburn,Norwich City,D,0,0,31367,1661,279.0,0,0,0,0,175.0,17.9,18.0,20.0,12641,35.0,8
3,2016-08-06,Bristol City,Wigan Athletic,D,0,0,21497,1284,299.0,0,0,0,0,145.0,19.1,25.0,20.0,17635,41.0,8
4,2016-08-06,Derby,Brighton & Hove Albion,D,0,0,33597,1611,319.0,0,0,0,0,154.0,19.3,17.6,25.0,28749,33.0,8

In [40]:
df.to_csv('final_dataset_V2copy.csv')