## Normalising a dataset

### importing libraries

In [22]:
import csv
import pandas as pd
from csv import reader

### Function to find the min and max values for each column

In [23]:
def dataset_minmax(dataset):
  minmax = list()
  for i in range(len(dataset[0])):
    col_values = [row[i] for row in dataset]
    value_min = min(col_values)
    value_max = max(col_values)
    minmax.append([value_min, value_max])
  return minmax

### function to rescale dataset columns to the range 0-1

In [24]:
def normalize_dataset(df_col, min_val, max_val):
  for row in range(0,df.shape[0]):
    df.loc[row,df_col] = (df.loc[row,df_col] - min_val) / (max_val - min_val)

### Load soccer attendances dataset

In [25]:
df = pd.read_csv("final_dataset.csv")

In [26]:
df

,Date,HomeTeam,AwayTeam,Day_Eve,Day Type,Hol Type,Capacity,Average Travelling Fans,Cheapest Season T,Home League Position,Away League Position,Form Home,Form Away,Distance,Temperature,Lowest Home Ticket Price,Lowest Away Ticket Price,Attendance,Highest Home Ticket Price
0,05/08/2016,Fulham,Newcastle,E,1,0,25700,3140,254.0,0,0,0,0,249.0,20.2,25.0,24.0,23922,45.0
1,06/08/2016,Birmingham,Cardiff,D,0,0,30016,775,230.0,0,0,0,0,89.0,18.8,15.0,22.0,19833,40.0
2,06/08/2016,Blackburn,Norwich City,D,0,0,31367,1661,279.0,0,0,0,0,175.0,17.9,18.0,20.0,12641,35.0
3,06/08/2016,Bristol City,Wigan Athletic,D,0,0,21497,1284,299.0,0,0,0,0,145.0,19.1,25.0,20.0,17635,41.0
4,06/08/2016,Derby,Brighton & Hove Albion,D,0,0,33597,1611,319.0,0,0,0,0,154.0,19.3,17.6,25.0,28749,33.0
5,06/08/2016,Huddersfield,Brentford,D,0,0,24500,1062,179.0,0,10,0,0,162.0,18.9,15.0,20.0,18479,30.0
6,06/08/2016,Ipswich,Barnsley,D,0,0,30311,1177,417.0,0,0,0,0,151.0,19.1,30.0,23.0,17370,40.0
7,06/08/2016,Nottm Forest,Burton Albion,D,0,0,30602,594,369.0,0,0,0,0,22.0,21.2,18.0,20.0,23012,35.0
8,06/08/2016,Reading,Preston,D,0,0,24161,1437,325.0,0,0,0,0,178.0,20.5,20.0,24.0,15764,35.0
9,06/08/2016,Rotherham,Wolves,D,0,0,12021,1435,355.0,0,0,0,0,67.0,21.6,25.0,30.0,11291,27.0
10,07/08/2016,QPR,Leeds United,D,0,0,18439,2829,400.0,18,7,0,0,167.0,21.8,29.0,35.0,16764,38.0
11,07/08/2016,Sheffield Wednesday,Aston Villa,D,0,0,39732,3413,415.0,4,0,0,0,64.0,19.3,20.0,25.0,30060,49.0
12,12/08/2016,Brighton & Hove Albion,Nottm Forest,E,1,0,30750,1581,475.0,15,4,1,3,151.0,19.2,25.0,18.0,25748,42.0
13,13/08/2016,Aston Villa,Rotherham,D,0,0,42788,1026,325.0,19,11,0,1,67.0,19.1,20.0,23.0,33286,37.0
14,13/08/2016,Barnsley,Derby,D,0,0,23009,2137,270.0,22,12,0,1,44.0,17.8,25.0,17.6,15049,38.0
15,13/08/2016,Brentford,Ipswich,D,0,0,12300,1384,369.0,18,3,0,3,73.0,22.6,20.0,10.0,10089,35.0
16,13/08/2016,Burton Albion,Bristol City,D,0,0,6912,1233,255.0,16,5,0,3,105.0,18.4,20.0,25.0,4579,24.0
17,13/08/2016,Leeds United,Birmingham,D,0,0,37890,1841,398.0,24,13,0,1,91.0,16.5,30.0,15.0,27392,42.0
18,13/08/2016,Newcastle,Huddersfield,D,0,0,52404,1095,428.0,21,6,0,3,92.0,19.4,24.0,20.0,52079,37.0
19,13/08/2016,Norwich City,Sheffield Wednesday,D,0,0,26034,2521,499.5,1,9,3,3,129.0,19.8,20.0,20.0,26236,40.0
20,13/08/2016,Preston,Fulham,D,0,0,24500,982,360.0,20,7,0,3,190.0,17.0,24.0,20.0,10809,30.0
21,13/08/2016,Wigan Athletic,Blackburn,D,0,0,25133,1125,179.0,17,23,0,0,15.0,16.7,22.0,22.0,12216,30.0
22,13/08/2016,Wolves,Reading,D,0,0,30852,965,345.0,10,8,1,3,95.0,19.5,25.0,20.0,20425,30.0
23,14/08/2016,Cardiff,QPR,D,0,0,28000,1158,299.0,14,2,1,3,127.0,16.9,18.0,28.0,15869,34.0
24,16/08/2016,Aston Villa,Huddersfield,E,1,0,42788,1095,325.0,11,3,3,6,79.0,18.1,20.0,20.0,34924,37.0
25,16/08/2016,Brentford,Nottm Forest,E,1,0,12300,1581,369.0,12,16,3,3,106.0,18.1,20.0,18.0,10004,35.0
26,16/08/2016,Brighton & Hove Albion,Rotherham,E,1,0,30750,1026,475.0,6,19,4,1,186.0,20.8,25.0,23.0,25128,42.0
27,16/08/2016,Burton Albion,Sheffield Wednesday,E,1,0,6912,2521,255.0,20,9,0,4,41.0,18.2,20.0,20.0,4997,24.0
28,16/08/2016,Leeds United,Fulham,E,1,0,37890,982,398.0,23,4,0,6,169.0,15.7,30.0,20.0,21204,42.0
29,16/08/2016,Norwich City,Bristol City,E,1,0,26034,1233,499.5,5,2,4,6,187.0,16.8,20.0,25.0,26297,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074,17/04/2017,Scunthorpe,Chesterfield,E,1,1,9183,583,288.0,5,23,9,4,49.0,11.0,18.0,22.0,4636,23.0
1075,17/04/2017,Sheffield United,Bradford,E,1,1,32702,1437,288.0,1,4,13,12,36.0,9.0,20.0,20.0,26838,29.0
1076,17/04/2017,Southend,Milton Keynes Dons,E,1,1,12392,596,395.0,7,12,12,8,86.0,9.0,25.0,22.0,9009,25.0
1077,17/04/2017,Walsall,Swindon,E,1,1,11300,503,253.0,14,22,2,8,80.0,9.0,20.0,20.0,5196,25.5
1078,18/04/2017,Bolton,Bury,E,1,0,28723,608,280.0,2,21,7,2,23.0,9.0,15.0,15.0,18223,30.0
1079,22/04/2017,Bradford,AFC Wimbledon,D,0,0,25136,622,149.0,5,14,5,5,199.0,5.0,25.0,20.0,18615,25.0
1080,22/04/2017,Bury,Northampton,D,0,0,11841,843,275.0,21,16,2,3,149.0,12.0,18.0,18.0,5190,22.0
1081,22/04/2017,Chesterfield,Charlton,D,0,0,10504,680,345.0,23,15,4,7,105.0,12.0,22.0,20.0,5657,26.0
1082,22/04/2017,Coventry,Walsall,D,0,0,32609,792,299.0,24,13,7,5,31.0,14.0,22.0,22.0,9284,26.0
1083,22/04/2017,Gillingham,Fleetwood Town,D,0,0,11582,210,285.0,18,3,4,9,311.0,16.0,12.0,10.0,8760,28.0
1084,22/04/2017,Millwall,Oxford,D,0,0,20146,1000,333.0,6,10,10,8,202.0,14.0,22.0,23.0,12533,30.0
1085,22/04/2017,Milton Keynes Dons,Sheffield United,D,0,0,30500,1622,312.0,12,1,10,15,119.0,14.0,22.0,22.0,18180,27.0
1086,22/04/2017,Oldham,Rochdale,D,0,0,13559,497,300.0,17,8,7,10,7.0,11.0,22.0,24.0,6865,24.0
1087,22/04/2017,Peterboro,Bristol Rvs,D,0,0,15314,1159,295.0,11,9,7,9,159.0,9.0,21.0,20.0,5498,26.0
1088,22/04/2017,Port Vale,Bolton,D,0,0,18947,912,345.0,20,2,3,7,58.0,13.0,22.0,22.0,8890,23.0
1089,22/04/2017,Shrewsbury,Southend,D,0,0,9875,635,285.0,19,7,5,6,114.0,12.0,20.0,20.0,7341,22.0
1090,22/04/2017,Swindon,Scunthorpe,D,0,0,15728,508,345.0,22,4,8,12,203.0,15.0,19.0,19.0,7579,25.0
1091,25/04/2017,Walsall,Port Vale,E,1,0,11300,697,253.0,12,21,5,0,40.0,4.0,20.0,20.0,4266,25.5
1092,30/04/2017,AFC Wimbledon,Oldham,D,0,0,4850,729,260.0,15,17,2,7,224.0,16.0,17.0,17.0,4867,29.0
1093,30/04/2017,Bolton,Peterboro,D,0,0,28723,598,280.0,2,11,7,7,158.0,15.0,15.0,15.0,22590,30.0
1094,30/04/2017,Bristol Rvs,Millwall,D,0,0,12000,827,260.0,10,6,9,7,124.0,14.0,18.0,16.0,11750,26.0
1095,30/04/2017,Charlton,Swindon,D,0,0,26875,503,175.0,14,22,7,5,49.0,16.0,20.0,20.0,11932,35.0
1096,30/04/2017,Fleetwood Town,Port Vale,D,0,0,5327,697,210.0,3,21,12,3,87.0,17.0,21.5,21.5,4733,23.5
1097,30/04/2017,Northampton,Gillingham,D,0,0,7653,533,249.0,16,20,2,4,107.0,16.0,24.0,24.0,7034,24.0
1098,30/04/2017,Oxford,Shrewsbury,D,0,0,12500,438,290.0,9,18,10,8,107.0,15.0,20.0,21.0,9287,24.0
1099,30/04/2017,Rochdale,Bradford,D,0,0,10249,1437,290.0,8,5,10,12,30.0,16.0,17.0,22.0,6876,22.0
1100,30/04/2017,Scunthorpe,Coventry,D,0,0,9183,1280,288.0,4,23,12,7,118.0,13.0,18.0,22.0,5796,23.0
1101,30/04/2017,Sheffield United,Chesterfield,D,0,0,32702,583,288.0,1,24,15,4,13.0,16.0,20.0,20.0,31003,29.0
1102,30/04/2017,Southend,Bury,D,0,0,12392,608,395.0,7,19,3,4,195.0,16.0,25.0,22.0,9245,25.0
1103,30/04/2017,Walsall,Milton Keynes Dons,D,0,0,11300,596,253.0,13,12,2,7,76.0,17.0,20.0,20.0,5004,25.5

In [27]:
df.describe()

,Day Type,Hol Type,Capacity,Average Travelling Fans,Cheapest Season T,Home League Position,Away League Position,Form Home,Form Away,Distance,Temperature,Lowest Home Ticket Price,Lowest Away Ticket Price,Attendance,Highest Home Ticket Price
count,1104.000000,1104.000000,1104.000000,1104.000000,1104.000000,1104.000000,1104.000000,1104.000000,1104.000000,1104.000000,1104.000000,1104.000000,1104.000000,1104.000000,1104.000000
mean,0.336957,0.076993,21916.875000,1161.979167,309.364583,12.610507,12.213768,6.943841,7.055254,106.118775,10.454891,21.106250,20.981250,14039.252717,30.979167
std,0.472884,0.266701,10758.051641,689.480780,73.832846,6.954620,7.027826,3.706909,3.759983,57.390207,5.224612,3.791144,4.169705,9807.469668,6.901917
min,0.000000,0.000000,4850.000000,210.000000,149.000000,0.000000,0.000000,0.000000,0.000000,2.000000,-17.800000,12.000000,10.000000,1907.000000,22.000000
25%,0.000000,0.000000,12015.750000,631.750000,267.500000,7.000000,6.000000,4.000000,4.000000,61.000000,7.000000,18.000000,20.000000,6147.500000,25.000000
50%,0.000000,0.000000,23585.000000,1013.000000,299.000000,13.000000,12.000000,7.000000,7.000000,101.000000,10.050000,20.000000,20.000000,10962.500000,30.000000
75%,1.000000,0.000000,30358.250000,1435.500000,347.500000,19.000000,18.000000,10.000000,10.000000,147.828250,14.000000,24.000000,23.000000,19354.750000,35.500000
max,1.000000,1.000000,52404.000000,3413.000000,499.500000,24.000000,24.000000,18.000000,18.000000,311.000000,27.000000,30.000000,35.000000,52301.000000,49.000000

In [28]:
df.dtypes

Date                          object
HomeTeam                      object
AwayTeam                      object
Day_Eve                       object
Day Type                       int64
Hol Type                       int64
Capacity                       int64
Average Travelling Fans        int64
Cheapest Season T            float64
Home League Position           int64
Away League Position           int64
Form Home                      int64
Form Away                      int64
Distance                     float64
Temperature                  float64
Lowest Home Ticket Price     float64
Lowest Away Ticket Price     float64
Attendance                     int64
Highest Home Ticket Price    float64
dtype: object

### get a list of all numeric columns

In [29]:
numeric_cols = list(df.select_dtypes(include=['int64','float64']))
numeric_cols

['Day Type',
 'Hol Type',
 'Capacity',
 'Average Travelling Fans',
 'Cheapest Season T',
 'Home League Position',
 'Away League Position',
 'Form Home',
 'Form Away',
 'Distance',
 'Temperature',
 'Lowest Home Ticket Price',
 'Lowest Away Ticket Price',
 'Attendance',
 'Highest Home Ticket Price']

### Normalizing the numeric data

In [30]:
for i in range(0,len(numeric_cols)):
    print(str(numeric_cols[i]) + " :- Minimum = " + str(df[numeric_cols[i]].min()) + 
          " Maximum = " + str(df[numeric_cols[i]].max()));
for i in range(0,len(numeric_cols)):
    normalize_dataset(numeric_cols[i],df[numeric_cols[i]].min(),df[numeric_cols[i]].max())
df.head()

Day Type :- Minimum = 0 Maximum = 1
Hol Type :- Minimum = 0 Maximum = 1
Capacity :- Minimum = 4850 Maximum = 52404
Average Travelling Fans :- Minimum = 210 Maximum = 3413
Cheapest Season T :- Minimum = 149.0 Maximum = 499.5
Home League Position :- Minimum = 0 Maximum = 24
Away League Position :- Minimum = 0 Maximum = 24
Form Home :- Minimum = 0 Maximum = 18
Form Away :- Minimum = 0 Maximum = 18
Distance :- Minimum = 2.0 Maximum = 311.0
Temperature :- Minimum = -17.8 Maximum = 27.0
Lowest Home Ticket Price :- Minimum = 12.0 Maximum = 30.0
Lowest Away Ticket Price :- Minimum = 10.0 Maximum = 35.0
Attendance :- Minimum = 1907 Maximum = 52301
Highest Home Ticket Price :- Minimum = 22.0 Maximum = 49.0

,Date,HomeTeam,AwayTeam,Day_Eve,Day Type,Hol Type,Capacity,Average Travelling Fans,Cheapest Season T,Home League Position,Away League Position,Form Home,Form Away,Distance,Temperature,Lowest Home Ticket Price,Lowest Away Ticket Price,Attendance,Highest Home Ticket Price
0,05/08/2016,Fulham,Newcastle,E,1.0,0.0,0.438449,0.914767,0.299572,0.0,0.0,0.0,0.0,0.799353,0.848214,0.722222,0.56,0.436858,0.851852
1,06/08/2016,Birmingham,Cardiff,D,0.0,0.0,0.529209,0.176397,0.231098,0.0,0.0,0.0,0.0,0.281553,0.816964,0.166667,0.48,0.355717,0.666667
2,06/08/2016,Blackburn,Norwich City,D,0.0,0.0,0.557619,0.453013,0.370899,0.0,0.0,0.0,0.0,0.559871,0.796875,0.333333,0.40,0.213002,0.481481
3,06/08/2016,Bristol City,Wigan Athletic,D,0.0,0.0,0.350065,0.335311,0.427960,0.0,0.0,0.0,0.0,0.462783,0.823661,0.722222,0.40,0.312101,0.703704
4,06/08/2016,Derby,Brighton & Hove Albion,D,0.0,0.0,0.604513,0.437402,0.485021,0.0,0.0,0.0,0.0,0.491909,0.828125,0.311111,0.60,0.532643,0.407407

In [31]:
df.to_csv("normalized_dataset.csv")